@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,400;1,500;1,600&display=swap');

*{
    font-family: 'Chivo Mono', monospace;
    margin: 0;
    padding: 0;
    color: white;
}

@keyframes transitionSlow{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to right, rgba(19, 118, 240, 0.8), rgba(92, 160, 243, 0.8));
    position: relative;
}

.content{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-top: 18px;
    position: relative;
    background-image: linear-gradient(to right, rgba(20, 94, 184, 0.8), rgba(16, 96, 194, 0.8));
}

.left{
    padding-left: 22px;
}

.right{
    padding-right: 22px;
}

.logo-text{
    font-size: 32px;
    color: white;
}

.home{
    height: 80%;
    width: 100%;
    display: flex;
    padding-left: 28px;
    padding-right: 28px;
    margin-left: 32px;
    margin-top: 32px;
    align-items: center;
    justify-content: center;
}

.levels{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
}

.level{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.level:hover{
    transform: scale(1.01);
}

.level-img{
    width: 350px;
    height: 600px;
    border-radius: 8px;
}

.level-page{
    width: 100%;
    display: flex;
    position: relative;
}

.game{
    width: 100%;
    display: flex;
    position: absolute;
}

.game-level{
    width: 100%;
}

.characters{
    width: 40%;
    display: flex;
    flex-direction: row;
    gap: 18px;
    padding: 16px;
    position: fixed;
}

.char-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.char-con{
    border-radius: 50%;
    border: 2px solid black;
    width: 60px;
    height: 60px;
}

.options{
    position: absolute;
    background-color: black;
    padding: 12px;
    border-radius: 7px;
}

ul{
    list-style: none;
}

li{
    cursor: pointer;
    padding: 4px;
}

.hidden{
    visibility: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 7px;
  }