@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,400;1,500;1,600&display=swap');

*{
    font-family: 'Chivo Mono', monospace;
    margin: 0;
    padding: 0;
    color: white;
}

@keyframes transitionSlow{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to right, rgba(19, 118, 240, 0.8), rgba(92, 160, 243, 0.8));
    position: relative;
}

.content{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-top: 18px;
    position: relative;
    background-image: linear-gradient(to right, rgba(20, 94, 184, 0.8), rgba(16, 96, 194, 0.8));
}

.left{
    padding-left: 22px;
}

.right{
    padding-right: 22px;
}

.logo-text, .leader{
    font-size: 32px;
    color: white;
}

.home{
    height: 80%;
    width: 100%;
    display: flex;
    padding-left: 28px;
    padding-right: 28px;
    margin-left: 32px;
    margin-top: 32px;
    align-items: center;
    justify-content: center;
}

.levels{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
}

.level{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.level:hover{
    transform: scale(1.01);
}

.level-img{
    width: 350px;
    height: 600px;
    border-radius: 8px;
}

.level-page{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.leaderboard{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.chooseLevel{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    gap: 18px;
}

.leaders{
    width: 80%;
    display: flex;
    justify-content: center;
}

.lead-title, .lead-time{
    font-weight: 500;
    font-size: 32px;
}

.level-btn{
    padding: 28px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.level-btn:hover{
    transform: scale(1.1);
}

.first{
    background-image: url("/public/img/1.jpg");
}

.second{
    background-image: url("/public/img/2.jpg");
}

.third{
    background-image: url("/public/img/3.jpg");
}

.fourth{
    background-image: url("/public/img/4.jpg");
}

.table{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.row{
    width: 100%;
    display: flex;
}

.data1{
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 12px;
}

.data2{
    width: 50%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 12px;
}

.firstCol{
    width: 100%;
    border: 1px solid black;
    padding: 12px;
}

.secondCol{
    width: 50%;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 12px;
}

.game{
    width: 100%;
    display: flex;
    position: absolute;
}

.game-level{
    width: 100%;
}

.characters{
    width: 40%;
    display: flex;
    flex-direction: row;
    gap: 18px;
    padding: 16px;
    position: fixed;
}

.timer{
    position: fixed;
    font-size: 48px;
    color: white;
    display: flex;
    justify-content: flex-end;
    width: 95%;
    margin-top: 40px;
}

.container-popup{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: absolute;
    margin-top: 80px;
}

.popup{
    position: fixed;
    width: 60%;
    height: 50%;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}

.content{
    display: flex;
    flex-direction: column;
}

.congrats{
    color: black;
    font-size: 32px;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 12px;
}

.name-title{
    color: black;
    font-size: 26px;
    margin-left: 16px;
    margin-bottom: 12px;
}

.name-input{
    color: black;
    margin-left: 16px;
    margin-bottom: 12px;
    width: 100%;
}

.texter{
    color: black;
    width: 80%;
    padding: 5px;
    border: none;
    background-color: lightgray;
    border-radius: 6px;
}

.popup-buttons{
    display: flex;
    align-items: flex-end;
    margin-left: 16px;
    margin-top: 24px;
    gap: 18px;
}

.home-btn, .submit-btn{
    cursor: pointer;
    color: black;
    font-size: 18px;
    border: none;
    padding: 14px;
    border-radius: 7px;
}

.home-btn{
    background-color: blue;
}

.submit-btn{
    background-color: green;
}

.char-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.char-con{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.false{
    border: 3px solid black;
}

.true{
    border: 3px solid green;
    width: 60px;
    height: 60px;
}

.options{
    position: absolute;
    background-color: black;
    padding: 12px;
    border-radius: 7px;
}

ul{
    list-style: none;
}

li{
    cursor: pointer;
    padding: 4px;
}

li:hover{
    background-color: rgb(34, 34, 34);
}

.hidden{
    visibility: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 7px;
  }